<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audio</key>
	<string>scene-bg-WdVY0QGD4</string>
	<key>icon</key>
	<string>scene-bg-WdVY0QGD4</string>
	<key>video</key>
	<string>scene-bg-WdVY0QGD4</string>
</dict>
</plist>
